<div class="about-section">
  <h1>Contact Us</h1>
  <!-- <p>Some text about who we are and what we do.</p>
    <p>
      Resize the browser window to see that this page is responsive by the way.
    </p> -->
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Harsha Didde</h2>
        <p class="title">170050075</p>

        <p>harshadidde@cse.iitb.ac.in</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Rajesh Burudi</h2>
        <p class="title">170050074</p>

        <p>rajeshburudi@cse.iitb.ac.in</p>
      </div>
    </div>
  </div>
</div>
